/* Global reset */
    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
nav {
    background-color: hsl(236, 51%, 43%);
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

/* Aside */
aside {
    width: 300px;
    margin: 20px;
    border: 2px solid #3289ec;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

/* Image in aside */
aside img {
    width: 200px;
    height: auto;
}

/* Image in main */
main img {
    width: 150px;
    height: auto;
    border: 2px solid #333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 20px auto;
    float: right;
    margin: 0 0 1rem 1rem;
}

/* Header */
h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    border-top: 2px solid #fff;
}

/* class selector */
box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: hsl(0, 0%, 0%);

    .sofia-regular {
        font-family: "Sofia", cursive;
        font-weight: 400;
        font-style: normal;
    }

}
